<h2 class="page-header"><%= actor.name%></h2>
<div class="show-all">
<% movies.forEach(movie => { %> 
  <div>
    <a href="../movies/<%= movie.id %>""><img class="cover-img-all" src="<%= movie.coverURL %>"></a>
  </div>
  <% }) %>

<% tvshows.forEach(tvshow => { %> 
  <div>
    <a href="../tvshows/<%= tvshow.id %>""><img class="cover-img-all" src="<%= tvshow.coverURL %>"></a>
  </div>
<% }) %>
</div>