<h2 class="page-header"><%= actor.name%></h2>
<% movies.forEach(movie => { %> 
  <div>
    <%= movie.title %>
    <br>
    <a href="../movies/<%= movie.id %>""><img src="<%= movie.coverURL %>"></a>
  </div>
  <% }) %>
<% tvshows.forEach(tvshow => { %> 
  <div>
    <%= tvshow.title %>
    <br>
    <a href="../tvshows/<%= tvshow.id %>""><img src="<%= tvshow.coverURL %>"></a>
  </div>
<% }) %>