<%= movie.title %>
<br>
<img src="<%= movie.coverURL %>">
<br>
<%= movie.release %>
<br>
Plot: <%= movie.description %>
<br>
Runtime: <%= movie.runtime %>
<br>
Personal Rating: <%= movie.rating %>
<br>
<%= movie.review %>
<br>
<% actors.forEach(actor => { %>
  <% movie.actors.forEach(act => {%>
    <%if(actor._id.equals(act)) {%>
      <a href="/"><%= actor.name %></a>
    <%}%>
  <%})%>
<% })%>
<br>
IMDb Rating: <%= movie.imdbRating %>
<br>
<%= movie.genre %>
<br>
<%= movie.rated %>
<br>

